/*** Menu-Main ***/
body {
    font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0px;
}

div::selection, p::selection, img::selection {
    background-color: transparent;
    cursor: default;
}

/*** Menu **/
#menu {
    margin-bottom: 5px;
    clear: both;
}

.entry {
    cursor: pointer;
    color: #444444;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);    
    border-radius: 2px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 27px;
    height: 27px;
    padding: 0 8px;
    text-align: center;
}

.entry:hover {
    border: 1px solid rgb(77, 144, 254);
}

#open {
    background: -o-linear-gradient(top, #DD4B39, #D14836) #D14836;
    border: 1px solid #AF301F;   
    color: white;
    text-transform: uppercase;
}

#open:hover {
    background: -o-linear-gradient(top, #DD4B39, #C53727) #C53727;
}

#compose, #pref {
    background: -o-linear-gradient(top, #F5F5F5, #F1F1F1) #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444;
}

#compose:hover, #pref:hover {
    color: #222222;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: -o-linear-gradient(top, #F1F1F1, #E1E1E1) #F1F1F1;
}

#compose {
    float: left;
    width: 77%;
    display: inline;
}

#pref {
    width: 30px;
    float: right;
    display: inline;
    height: 27px;
}

#prefText {
    display: none;
}

.separator {
    clear: both;
}

/*** Menu-Icons ***/
.openIcon {
    background: url('img/open.png') no-repeat 5px 5px;
}

.composeIcon {
    background: url('img/mail.png') no-repeat 5px 5px;
}

.prefIcon {
    background: url('img/pref.png') no-repeat 5px 5px;
    width: 30px;
    height: 27px;
}

/*** Status-Box ***/
#status {
    line-height: 15px;
}

/*** LastUpdate-Box ***/
#lastUpdate {
    font-size: 9px;
    padding: 0 5px;
    color: #666;
    text-align: right;
}

/*** Status-Style (Success) ***/
.statusBox {
    margin-top: 8px;
    padding: 0 5px;
    color: #222222;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);   
    text-align: right;
}

/*** Status-Style (Error) ***/
.infoBox {    
    color: #DD4B39;
    padding: 5px;
    margin-top: 5px; 
    font-weight: 700;
}

.infoBox a {
    color: #DD4B39;
}

.infoBox a:hover {
    font-weight: bold;
} 

/*** Message-Style ***/
#messageBox {
    margin-top: 13px;
}
.message {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);    
    border-radius: 2px;
    background: -o-linear-gradient(top, #F5F5F5, #F1F1F1) #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444;
    padding: 5px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message .text {
    overflow: hidden;     
    text-overflow: -o-ellipsis-lastline;
    height: 100%;
}

.message:hover {
    cursor: pointer;
    color: #222222;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: -o-linear-gradient(top, #F1F1F1, #E1E1E1) #F1F1F1;
}

.message_options, .message_wait {
   position: absolute;
   background-image: -o-linear-gradient(left , rgba(150,150,150, 0.0) 0%, rgba(150,150,150, 0.2) 50%, rgba(150,150,150, 0.8) 100%);
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 2px;
   padding: 5px;
   text-align: right;
}

.message_wait {
  background: rgba(150,150,150, 0.8);  
}

.message_options .button {
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.898), rgba(247, 247, 247, 0.898));
  border: 1px solid #A6A6A6;
  color: #333333;
  display: inline-block;
  width: 40px;
  height: 21px;
  padding: 2px;
  margin: 2px 5px 0 5px;
}

.message_options .button .image {
  height: 21px;
  width: 21px;
  margin: auto;
  opacity: 0.5;
}

.message_options .button:hover .image {
  opacity: 0.9;
}

.message_options .button .image.mark {
  background: url("../img/check16.png") 4px 2px no-repeat transparent;
}

.message_options .button .image.archive {
  background: url("../img/gmail_sprite.png") -84px -21px no-repeat transparent;
}

.message_options .button .image.spam {
  background: url("../img/gmail_sprite.png") -42px -42px no-repeat transparent;
}

.message_options .button .image.delete {
  background: url("../img/gmail_sprite.png") -63px -42px no-repeat transparent;
}

.message_options .button:hover { 
  border: 1px solid #4D90FE;
}

/*** Wait-Animation in Popup-Menu ***/
#wait, .message_wait .wait {
    background: url('../img/ajax-loader.gif') no-repeat center center;
    height: 30px;
}

/*** Tooltip-Layout 1 ***/
.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: -o-linear-gradient(top, #B5B5B5, #B1B1B1) #B5B5B5;
    color: #222222;
    padding: 5px;
    opacity: 0.90;
    border-radius: 2px;
    width: 296px;
    font-size: 11px;
    display: none;
}
.tooltip h3, .tooltip div { margin: 0; }

.tooltip p {
    margin: 0px;
} 

/*** Tooltip-Layout 2 ***/
.tooltip2 {
  background-color: #F5F5B5;
  border: 1px solid #DECA7E;
  color: #303030;
  line-height: 12px;
  text-align: center;
  width: auto;
  padding: 3px;
}

/*** Account-List (Overlay) ***/
#DarkLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);  
}

#AccountList {
    margin-top: 10px;
    margin-left: 10px;
}

#AccountList .chooseAccount {
    color: #444444;
    font-size: 13px;
    font-weight: 700;    
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);    
}

#AccountList .accountEntry{
    background: -o-linear-gradient(top, #F5F5F5, #F1F1F1) #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444;
    border-radius: 2px;
    font-weight: 700;
    line-height: 27px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);  
    height: 27px;
    padding: 0 8px;
    text-align: center;
    margin: 5px;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
}

#AccountList .accountEntry:hover {
    color: white;
    cursor: pointer;
    background: -o-linear-gradient(top, #DD4B39, #C53727) #C53727;
    border: 1px solid #AF301F;   
}
